<%- include('../includes/admin/header',{page_title: 'User Managment'}); %>


      <!-- <script src="/ckeditor/ckeditor.js"></script> -->
      <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>


			<!-- /col-3 -->
  			<div class="col-sm-9">

					<div class="col-md-12">

            <a href="/admin/bundels" class="btn btn-primary btn-sm pull-right">Back to list</a>

              <h3>Create a Bundel:</h3>
              <form class="form-horizontal" method="post" action="/admin/bundel<%= !!locals.item ? '/' + item._id : '' %>" name="bundel">
                <h4>Name of the bundel</h4>
                <input class="form-group" name="bundelName" type="text" value="<%= (locals.item ? item.name : "" ) %>" />
                <h4>Short Description</h4>
                <input class="form-group" name="frontEndDesc" type="text" value="<%= (locals.item ? item.frontEndDesc : "" ) %>" />
                <br />
                <select class="form-group"  name="province" value="<%= (locals.item ? item.province : "") %>"   >
                  <option>Drenthe</option>
                  <option>Flevoland</option>
                  <option>Friesland</option>
                  <option>Gelderland</option>
                  <option>Groningen</option>
                  <option>Limburg</option>
                  <option>North Brabant</option>
                  <option>North Holland</option>
                  <option>Overijssel</option>
                  <option>South Holland</option>
                  <option>Utrecht</option>
                  <option>Zeeland</option>
                </select>
                <h4>Publish date</h4>
                <input name="publishDate" type="date"  value='<%= (locals.item ? item.publishDate : "" ) %>'/>

                <h4>Select a language</h4>
                <select class="form-group"  name="language">
                  <option>English</option>
                  <option>Dutch</option>
                  <option>Romanian</option>
                </select>
                <textarea name="bundelEditor" id="editor1" value="<%= (locals.item ? item.bundelEditor : '' ) %>" > </textarea>

                <input  type="submit" name="Submit" class="btn btn-success" />
              </form>

              <script type="text/javascript">
              CKEDITOR.replace('editor1')
              //   "extraPlugins" : 'imagebrowser',
            	// 	"imageBrowser_listUrl" : "/admin/bundel/files"
              // });
            </script>
					</div>
        </div>

        <!-- <script>
          ClassicEditor
            .create( document.querySelector( '#bundelEditor' ) )
            .then( editor => {
              console.log( editor );
            } )
            .catch( error => {
              console.error( error );
            } );
        </script> -->

            <!--/col-span-9-->
<%- include('../includes/admin/footer'); %>
